@font-face {
    font-family: "Quicksand";
    src: url(../assets/font/Quicksand_Book.otf);
}
@font-face {
    font-family: "Quicksand Bold";
    src: url(../assets/font/Quicksand_Bold.otf);
}
@font-face {
    font-family: "Poppins";
    src: url(../assets/font/Poppins-Regular.ttf);
}